.header {
  width: 100%;
  height: 144px;
  .header__content {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    // border: 1px solid teal;
    .header__top {
      width: 100%;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header__logo {
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        column-gap: 15px;

        img {
          width: auto;
          height: auto;
        }
        p {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 0.85em;
          line-height: 20px;
          color: var(--main-text-color);
        }
      }
      .header__email {
        width: 14%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 0.85em;
          line-height: 20px;
        }
        .email__value {
          font-weight: 700;
          color: #32902d;
        }
      }
      .header__contact {
        width: 28%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .phone {
          p {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 1.65em;
            line-height: 28px;
            color: var(--main-text-color);
          }
          span {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 0.75em;
            line-height: 20px;
            color: rgba(39, 67, 66, 0.5);
          }
        }

        .return__call {
          width: 179px;
          height: 40px;
          background: none;
          border: none;
          background-color: #32902d;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          text-transform: uppercase;
        }
      }
    }
    .header__bottom {
      width: 100%;
      height: 50%;
      display: flex;

      .header__bottom__item {
        width: 12.5%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid #e2efef;
        .menu__link {
          width: 100%;
          height: 100%;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 600;
          font-size: 0.75em;
          line-height: 15px;
          letter-spacing: 0.04em;
          color: #274342;
          p {
            display: flex;
            gap: 5px;
            .h_arrow_down {
              margin-top: -2px;
              font-size: 1.5em;
              color: #274342;
            }
          }
        }
        .login__search__cart {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 35px;

          .log__item {
            text-decoration: none;
          }
          .cart {
            position: relative;
            span {
              right: -1px;
              top: -3px;
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              z-index: 2;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background-color: #32902d;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
